<div id="calendar-header" class="col-xs-12">
	<table class="month-table-header">
		<tbody>
			<tr>
				{{#each model.header as |_day_names|}}
				<th>{{_day_names}}</th>
				{{/each}}
			</tr>
		</tbody>
	</table>
</div>
<div id="calendar-widget" class="col-xs-12">
{{outlet}}
	<table class="month-table">
		<tbody>
			{{#each model.weeks as |_week|}}
			<tr>
				{{#each _week as |_day|}}
				<td class="{{_day.dateString}}">
					<div class="day-wrap">

						<div class="day-data">

							<div class="day-name">
								{{_day.day}}.{{_day.month}}

								{{#each filtersMonth as |filter|}}

								{{/each}}<!-- end of filtersMonth -->

								{{#each _day.events as |event|}}
									{{event.is_hidden}}
									{{#if event.is_hidden}}
									{{else}}
									<a 
										{{action 'showModalDialog' event}} 
										class="event-title"
									>
										{{event.title}} <br>
										Type: {{event.type}}
										
									</a> 
									{{/if}}

								{{/each}}<!-- end of _day.events -->
							</div>
							
						</div>
						
					</div>
				</td>
				{{/each}}<!-- end of _week -->
			</tr>
			{{/each}}<!-- end of model.weeks -->
		</tbody>
	</table>
</div>
<!--
{{#if (layer-conditional filtersMonth event.type)}}
	{{content}} 
{{/if}}
-->